/*
  File: http://geoffklapp.github.io/websites/gui1/css/multiplicationTableV2.css
  Geoff Klapproth, UMass Lowell Computer Science alumni,
  geoffrey_klapproth@student.uml.edu or geoffklapproth@gmail.com
  Created on 11/5/15
  Assignment 7 .css file containing styling for assignment7.html
  
  Updated to use for Assignment 8, changed basic layout and added UI slider styling
*/

#multiplicationTable tr:first-child td, #multiplicationTable tr td:first-child {
  !important background-color: green;
}

input[type="button"] {
  margin-top: 60px;
  margin-left: 40px;
}

form {
  padding-left: 50px;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: left;
}

div {
  margin-bottom: 10px;
  text-align: left;
}

h1 {
  margin-top: 40px;
  margin-left: 40px;
  text-align: left;
  color: blue;
}

td {
  width: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: black;
}

tr:nth-child(even) {
  background-color: blue;
}

label.error {
  color: red;
  font-style: italic;
  font-weight: bold;
}

#multiplicationTable {
  margin-left: 40px;
}
